@model TechNote.Core.Note

@{
    ViewBag.Title = "Details";
}



<div class="container">
    
    <hr />
    <h4>@Model.Title</h4>
    <p style="color:#9d9d9d"><i>Author: @Model.UserEmail at @Model.createdAt</i></p> 
    <p>Description: @Model.Description</p>
    <p>@Model.NoteContent</p>
    <p style="color:#9d9d9d"><i>Last Modified: @Model.dateModified</i></p>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>

