@model TechNote.Core.ViewModels.NoteListViewModel

@{
    ViewBag.Title = "Home";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="col-md-2">
    @Html.ActionLink("All", "Index",null,new { @class = Request["codingLanguage"] == null ? "list-group-item-active" : "list-group-item" })
    @foreach(var i in Model.codingLanguages)
    {
        @Html.ActionLink(i.Name, "Index", new { codingLanguage = i.Name }, new { @class = Request["codingLanguage"] == i.Name ? "list-group-item-active" : "list-group-item" })
    }
</div>
<div class="col-md-10">
    <table class="table">

        @foreach (var item in Model.notes)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.dateModified)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoteContent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>

</div>
