<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/fontawesome")
    <link href="~/Content/all.css" rel="stylesheet" />
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/StyleSheet1.css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/main.js"></script>
    <style>
        .a-nav-item {
            font-weight: bold;
            color: #9d9d9d;
            font-size:16px;
        }
        .a-nav-item:active{
            color:white;
        }
      
    </style>


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:black" >
        <div >
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                

                <a href="@Url.Action("Index","Home")" class="navbar-brand"><i class="fas fa-laptop-code"></i>&nbsp <span style="font-weight:bold">TechNote</span></a>

                
                &nbsp &nbsp &nbsp &nbsp
                <a href="@Url.Action("Create","Home")" class="navbar-brand"><span style="font-weight:bold">Create&nbsp</span><i class="fas fa-plus-square"></i></a>

            </div>
            <div class="navbar-collapse collapse">

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
 
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>

   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
   
    @RenderSection("scripts", required: false)
</body>
</html>
